nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
nav h3{
    font-size: 50px;
}

nav ul{
    display: flex;
    
}

nav li{
    text-decoration: none;
    list-style: none;
    padding: 20px;
}
nav button{
    height: 40px;
    width: 170px;
}
.title{
    color: brown;
    

}



.nav-btn{
background-color: coral;    
}

main h1,p {
    text-align: center;
    padding: 10px;
}

main li{
    display: flex;
    list-style: none;
    padding: 30px;
}
main ul{
    display: flex;
    margin-left: 20%;
}





.header{
    background-color: rgb(246, 166, 108);
}